Checks: >
  bugprone-*,
  performance-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -bugprone-easily-swappable-parameters,
  -modernize-avoid-c-arrays,
  -modernize-raw-string-literal,
  -performance-enum-size
WarningsAsErrors: ''
HeaderFilterRegex: 'scheduler/include/.*'
